/* ModalNavbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #fff;
  }
  
  .modal {
    /* Position the modal container */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    /* Styling for the modal content */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .close {
    /* Styling for the close button */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }
  
  /* Media Query for Small Screens (e.g., Mobile) */
  @media screen and (max-width: 768px) {
    .hamburger-icon {
      display: block;
    }
  
    .navbar-container {
      display: none;
    }
  }
  