/* styles.css (or any other CSS file) */
video {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
}

/* Hide default controls */
video::-webkit-media-controls {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

video::-webkit-media-controls-panel {
  display: none !important;
}
